<html>
    <head>
        <title><%= data.text %></title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="one">
        <h1 style="color: <%= data.color %>"><%= data.text %></h1>
        <p>
            <%= data.longtext %>
        </p>
        </div>
    </body>
</html>